@import '../../../assets/styles/mixins/flex.scss';
@import '../../../assets/styles/typography.scss';

.toir {
    &__section {
        background: #F6F9FC;
    }

    &__container {
        @include flex(row, center, flex-start, nowrap);
        position: relative;
        gap: 32px;
        padding-top: 160px;
        padding-bottom: 0;
        width: 100%;
        // border-left: 1px dashed #DDE1EC;
        // border-right: 1px dashed #DDE1EC;
        z-index: 1;

        @media (max-width: 1100px) {
            padding-top: 60px;
            @include flex(column, flex-start, center, nowrap);
        }
    }

    &__block {
        font-family: var(--font-family-inter);
        color: var(--color-text-main);
        flex: 1 1 433px;
        width: 100%;
        min-width: 300px;
        max-width: 510px;
        padding: 25px 18px;
        border-radius: 8px;
        background: white;
        margin-bottom: 40px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 10px 0px rgba(0, 5, 50, 0.15);

        &-mobile {
            flex: none;
            margin-bottom: 70px;

            @media (max-width: 500px) {
                margin-bottom: 0;
            }
        }
    }

    &__el {
        @include flex(row, flex-start, center, nowrap);
        font-family: var(--font-family-uni-sans);
        margin-bottom: 24px;
        gap: 16px;

        &-title {
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &-description {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-icon {
            width: 40px;
            height: 40px;
        }
    }

    div:last-child > &__el {
        margin-bottom: 0;
    }

    &__right img{
        image-rendering: pixelated;

        @media (max-width: 546px) {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 20px;

        &-mobile {
            align-self: flex-start;
        }
    }

    &__description {
        color: var(--color-text-main);
        font-family: var(--font-family-uni-sans);
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        padding: 0 25px;
        margin-bottom: 30px;
    }

    &__img {
        width: 100%;
        max-width: 510px;
        margin-bottom: 15px;
    }

    &__scheme {
        width: 100%;
    }
}