.border-hero {
    position: absolute;    
    border-left: 1px dashed #DDE1EC;
    z-index: -1;
    opacity: .5;
    top: 414px;
    height: calc(100% - 414px);

    &__left {
        left: 0%;

        @media (max-width: 800px) {
            left: 15px;
        }
    }
    
    &__left-middle {
        left: 25%;
    }
    
    &__middle {
        left: 50%;
    }
    
    &__right-middle {
        left: 75%;
    }
    
    &__right {
        right: 0%;

        @media (max-width: 800px) {
            right: 15px;
        }
    }
}
