@import '../../assets/styles/mixins/flex.scss';
@import '../../assets/styles/typography.scss';

.header {
    position: sticky;
    top: 0;
    font-family: var(--font-family-uni-sans);
    @include text-18-22-600();
    @include flex(row, center, center);
    margin-top: 30px;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    background: rgba(0, 12, 68, 0.50);
    backdrop-filter: blur(20px);
    z-index: 2;

    @media (max-width: 800px) {
        margin-top: 0;
    }

    &__container {
        @include flex(row, space-between, center);
        max-width: 1360px;
        width: 100%;
        min-height: 80px;
        padding: 0 40px;

        @media (max-width: 800px) {
            min-height: 46px;
            padding: 15px;
        }
    }

    &__logo {
        @include flex();
        cursor: pointer;

        &--mobile {
            justify-self: flex-start
        }

        &-container {
            @include flex(row, null, center);
        }
    }

    &__signin {
        @include flex(row, flex-start);
        gap: 10px;
        cursor: pointer;
    }

    &-nav {
        @include flex(row, space-between);
        gap: 30px;
    }

    &__burger {
        @include flex(row, flex-start, center);
        gap: 15px;

        &-icon {
            cursor: pointer;
        }
    }

    &__border {
        border-right: 1px solid white;
        height: 16px;
        opacity: .3;
    }
}