@import '../../../assets/styles/mixins/flex.scss';
@import '../../../assets/styles/typography.scss';

.solutions-automation {
    &__section {
        background: white;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__container {
        @include flex(row, space-between, flex-start, nowrap);
        color: var(--color-text-main);
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 60px;

        @media (max-width: 800px) {
            @include flex(column-reverse, flex-start, center, nowrap);
        }
    }

    &__content {
        @include flex(column);

    }

    &__description>ul {
        font-family: var(--font-family-uni-sans);
        @include text-18-22-400;
        padding-left: 20px;
        list-style: disc;

        &>li {
            margin-bottom: 8px;
        }
    }

    &__img-container {
        max-width: 650px;
        width: 100%;
    }

    &__img {
        width: 100%;
    }
}