@import './assets/styles/fonts.scss';
@import './assets/styles/mixins/flex.scss';

$font-family-uni-sans: 'Uni Sans';
$font-family-inter: 'Inter';
$font-family-segoe: 'Segoe UI', sans-serif;

$color-bg-dark: #000625;
$color-bg-gray: #F0F0F0;
$color-text-main: #1A1F36;
$color-border-gray: #DBDEEC;

:root {
  --font-family-uni-sans: #{$font-family-uni-sans};
  --font-family-inter: #{$font-family-inter};
  --font-family-segoe: #{$font-family-segoe};

  --color-bg-dark: #{$color-bg-dark};
  --color-bg-gray: #{$color-bg-gray};
  --color-text-main: #{$color-text-main};
  --color-border-gray: #{$color-border-gray};
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

body {
  font-family: 'Inter';
  font-weight: 400;
  font-display: block;
}

/* body { */
/* font: var(--zn-font-base);
  background-color: var(--zn-color-bg);
  color: var(--zn-color-fg); */
/* } */

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

main {
  width: 100%;
  flex: 1 0 auto;
  z-index: 1;
}

h1 {
  font-size: 40px;
  font-family: var(--font-family-inter);
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  @media (max-width: 800px) {
    font-size: 25px;
  }
}

h2 {
  font-size: 24px;
  font-family: var(--font-family-inter);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 800px) {
    font-size: 20px;
  }
}

section {
  @include flex(column, center, center);
  width: 100%;
}

.container {
  @include flex(column, flex-start, center);
  max-width: 1440px;
  width: 100%;
  padding: 60px 40px;

  @media (max-width: 800px) {
    padding: 40px 15px;
  }
}

.App__container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.App__container::-webkit-scrollbar-track {
  background-color: rgba(208, 208, 208, 0.2);

}

.App__container::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 133, 0.8);
}

.br {
  @media (max-width: 1000px) {
    display: none;
  }
}