@import '../../../assets/styles/mixins/flex.scss';
@import '../../../assets/styles/typography.scss';

.news {
    &__section {
        background: var(--color-bg-gray);
    }

    &__container {
        color: var(--color-text-main);
        padding-top: 100px;
        padding-bottom: 100px;

        @media (max-width: 800px) {
            padding-top: 60px;
        }
    }

    &__header {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        border-bottom: 1px solid;
        padding-bottom: 20px;
    }

    &__title {
        font-family: var(--font-family-inter);
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
    }

    &__description {
        font-family: var(--font-family-uni-sans);
        @include text-16-16-400;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }

    &__blocks {
        @include flex(row, center);
        gap: 32px;
        padding-top: 30px;
    }

    &__block {
        flex: 1 1 402px;
        min-width: 300px;
        max-width: 406px;
        border-radius: 10px;
        border: 1px solid #DBDEEC;
        background: white;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
        overflow-y: hidden;
        overflow-x: hidden;

        @media (max-width: 550px) {
            flex-basis: auto;
            min-width: 0;
            width: 100%;
        }
    }

    &__text {
        font-family: var(--font-family-uni-sans);
        font-size: 18px;
        font-weight: 400;
        padding: 15px 0;
        line-height: normal;
    }

    &__subtitle {
        color: var(--color-text-main);
        font-family: var(--font-family-inter);
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: normal;
    }

    &__content {
        @include flex(column, flex-start);
        padding: 25px 25px 20px;
    }

    &__img {
        width: 100%;
    }

    &__ul {
        list-style-type: "- ";
        list-style-position: inside;
    }
}