@import '../../../assets/styles/mixins/flex.scss';
@import '../../../assets/styles/typography.scss';

.dispatching-scheme {
    &__section {
        background: var(--color-bg-gray);
    }

    &__container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__img {
        width: 100%;
    }

    &__img-container {
        width: 100%;
        max-width: 1440px;

        @media (max-width: 1100px) {
            width: 100%;
            max-width: 330px;
        }
    }
}